@import '@styles/base';

.container {
  padding: 20px;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: white;

  .navigation {
    @include apply-at-xl-size {
      display: flex;
      justify-content: space-between;
    }
    margin-bottom: 10px;
    a {
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
    }
  }

  .maps {
    width: 100%;
    height: 600px;
  }
}
