@import '@styles/base';

.container {
  padding: 20px;
  width: 100%;
  height: 100%;
  min-height: 100vh;

  .card-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 12px;

    .menu {
      position: absolute;
    }
  }

  .expand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    button {
      cursor: pointer;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      background-color: $color-blue-logo;
      color: $color-yellow-logo;
      border: $color-yellow-logo;
      transition:
        transform 0.5s,
        opacity 0.5s;

      &:active {
        animation: ping 0.5s cubic-bezier(0, 0, 0.2, 1) 1;

        @keyframes ping {
          75%,
          100% {
            transform: scale(1.2);
            opacity: 0;
          }
        }
      }
    }
  }
}
