@import '@styles/base';

.container {
  .edit {
    cursor: pointer;
    border-radius: 100%;
    background-color: $color-primary-header;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    color: $color-white;
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    margin: 10px;
    transform: translate(-120%, 0%);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-white;
  display: flex;
  outline: none;
  border-radius: 7px;
  overflow: hidden;
  width: 90%;
  height: fit-content;
  padding: 20px;
  @include apply-at-xl-size {
    width: 25%;
  }

  .form {
    @include directionY;
    font-size: 12px;
    gap: 20px;
    width: 100%;

    .wrapper {
      @include directionY;
      width: 100%;
      position: relative;
      margin-bottom: 20px;

      .input {
        @include inputTag;
      }
    }
    .button {
      @include directionX;
      justify-content: end;
      margin-top: 5px;
    }
  }
}
